body {
    margin: 0;
    padding: 0;
}

#boards {
    font-family: Arial;
}

.flex-box {
    display: flex;
}

.toRight {
    margin: 0 0 0 auto;
}

.board {
    background-color: limegreen;
}

.boardHeader input {
    font-size: 40px;
    background-color: transparent;
    border: none;
    color: white;
}

.boardHeader input:focus {
    background-color: white;
    color: black;
}

.boardContent {
    display: flex;
}

.column {
    width: 250px;
    background-color: gainsboro;
    margin: 10px;
}

.columnHeader {
    font-size: 25px;
    padding: 5px;
    font-weight: bold;
}

.columnHeader input {
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
    max-width: 220px;
}

.columnHeader input:focus {
    background-color: white;
    color: black;
}

.columnContent {
    padding: 5px;
}

.columnDelete {
    display: none;
    cursor: pointer;
}

.column:hover .columnDelete {
    display: block;
}

.card {
    background-color: ghostwhite;
    border-radius: 5px;
    margin: 5px 0;
    position: relative;
}

.card:hover .cardDelete {
    display: block;
}

.cardDelete {
    position: absolute;
    display: none;
    top: 2px;
    right: 5px;
    cursor: pointer;
}