body {
    margin: 0;
    padding: 0;
}

#boards {
    font-family: Arial;
}

.flex-box {
    display: flex;
}

.toRight {
    margin: 0 0 0 auto;
}

.ghost {
    opacity: 0.5;
}

.board {
    background-color: limegreen;
    height: 100vh;
}

.boardHeader input {
    font-size: 40px;
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;;
}

.boardHeader input:focus {
    background-color: white;
    color: black;
}

.boardContent {
    display: flex;
}

.column {
    width: 250px;
    background-color: gainsboro;
    margin: 0 10px;
    /* padding: 5px; */
    box-sizing: border-box;
}

.columnHeader {
    font-size: 25px;
    padding: 5px;
    font-weight: bold;
    color: black;
}

.columnHeader input {
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: black;
    font-weight: bold;
    max-width: 200px;
}

.columnHeader input:focus {
    background-color: white;
    color: black;
}

.columnContent {
    padding: 5px;
}

.columnDelete {
    display: none;
    cursor: pointer;
}

.column:hover .columnDelete {
    display: block;
}

.card {
    background-color: ghostwhite;
    border-radius: 5px;
    margin: 5px 0;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
}

#cardTitle {
    background-color: white;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 20px;
    margin-bottom: 5px;
}

#cardTitle:focus {
    background-color: white;
    outline: none;
}

#cardDesctiption {
    background-color: white;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 20px;
}

#cardDescription:focus {
    outline: none;
}

#cardAdd {
    padding: 5px;
    width: 80px;
    background-color: rgb(45, 100, 220);
    border: none;
    border-radius: 5px;
}

.closeForm {
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    margin: 0 auto;
    cursor: pointer;
}

.card:hover .cardDelete {
    display: block;
}

.cardDelete {
    position: absolute;
    display: none;
    top: 2px;
    right: 5px;
    cursor: pointer;
}

.bg-fix {
    background-size: cover;
    background-position: center;
}

.appearFormCard {
    margin: 0 auto;
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.4s;
    opacity: 0.5;
    cursor: pointer;
}

.appearFormCard:hover {
    background-color: grey;
    border-radius: 10px;
    transition: all 0.4s;
    color: white;
    opacity: 1;
}

.cardFormAdd {
    display: none;

}

.activeForm {
    display: block;
}

.changeBackground {
    font-family: sans-serif;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 15px;
    letter-spacing: .5px;
    border: none;
    padding: 5px;
    margin: 7px 0 0;
    border-radius: 10px;
    background-color: brown;
    cursor: pointer;
    transition: all 0.5s;
}

.changeBackground:hover {
    background-color: gold;
    transition: all 0.5s;
}

.wallpapersCatalog {
    width: 400px;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: -400px;
    z-index: 5;
    transition: all 0.6s;
}

.appearCatalogWallpapers {
    width: 400px;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transition: all 0.6s;
}